<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Name Generator</title>
    <meta name="author" content="bmcminn <https://github.com/bmcminn>">
    <meta name="description" content="A simple Ninja name generator based on a popular reddit image">
    <meta name="referrer" content="no-referrer">

    <!-- <meta property="og:image" content=""> -->
    <meta property="og:url" content="https://bmcminn.github.com/ninja-name-generator">
    <meta property="og:title" content="Ninja Name Generator">
    <meta property="og:description" content="A simple Ninja name generator based on a popular reddit image">
    <meta property="og:type" content="website">

    <style>
        html {
            font-family: sans-serif;
        }
        .text-center { text-align: center }
        .title-case { text-transform: capitalize; }

        #app {
            margin: 2em auto
        }

        input {
            padding: 0.5em;
            border-radius: 0.2em
        }
        img {
            max-width: 100%;
            width: auto;
            height: auto;
            border: 1px solid #666;
        }
        .muted { color: #747474; }
        figcaption {
            font-style: italic;
        }
        .mt-1 { margin-top: 1em }
        .mt-3 { margin-top: 2em }
        .mt-2 { margin-top: 3em }
        .generator-menu {
            background-color: #f0f0f0;
            padding: 1em 1em 1em;
        }
        .columns {
            display: flex;
            justify-content: space-around;
            margin: auto;
            max-width: 600px;
        }
    </style>
</head>
<body>
    <div class="text-center">

        <noscript>
            This app does not work without JavaScript. Enable it in your browser
            and refresh if you wish to use this site!
        </noscript>

        <main id="app">
            <h1>{{ generator.name }}</h1>

            <p v-if="generator.description">{{ generator.description }}</p>

            <div class="columns">
                <div v-if="generator.to">
                    <input type="text" v-model="name" v-bind:placeholder="generator.toPlaceholder">

                    <p v-if="name.length > 0" :class="[ generator.toCase ]">
                        {{ toText }}
                        <!-- {{ generator.to(name) }} -->
                        <button type="button" @click="doCopy('to')">Copy!</button>
                    </p>
                    <p v-else class="title-case muted">{{ generator.toDescription }}</p>
                </div>

                <div v-if="generator.from" :class="[ generator.fromCase ]">
                    <input type="text" v-model="parse" v-bind:placeholder="generator.fromPlaceholder">

                    <p v-if="parse.length > 0">
                        {{ fromText }}
                        <!-- {{ generator.from(parse) }} -->
                        <button type="button" @click="doCopy('from')">Copy!</button>
                    </p>
                    <p v-else class="title-case muted">{{ generator.fromDescription }}</p>
                </div>

            </div>

            <div v-if="generator.share !== false">
                <button type="button" @click="share('to')">Share this result!</button>
            </div>

            <figure v-if="generator.image">
                <img v-bind:src="'assets/'+generator.image.file" alt="" v-bind:width="generator.image.width" v-bind:height="generator.image.height" :style="{'max-width': '100%' }" />
                <figcaption class="muted" v-if="generator.image.tagline">
                    "{{ generator.image.tagline }}"
                    <span v-if="generator.image.author">
                        by
                        <a v-if="generator.image.author.name" v-bind:href="generator.image.author.link">{{ generator.image.author.name}}</a>
                        <span v-else>{{ generator.image.author.name}}</span>
                    </span>
                </figcaption>
            </figure>

            <div v-if="generator.sauce">
                More info at <a href="{{ generator.sauce }}">{{ generator.sauce }}</a>
            </div>

            <div class="mt-3 generator-menu">
                <div>Checkout out other Name Generators!</div>
                <select class="mt-1" name="generator-switch" id="generator-switch" v-model="generator"
                @change="switchApp"
                >
                    <option disabled value="">Pick a name generator!</option>
                    <option v-for="(item, key) in Generators" :key="item.name" :value="key">
                        {{ item.name }}
                    </option>
                </select>
            </div>

            <p v-if="generator.author" class="mt-3">
                "{{ generator.name }}" is MIT licensened and is made by
                <a v-bind:href="generator.author.link">{{ generator.author.name }}</a>
            </p>

        </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-clipboard2/0.3.3/vue-clipboard.min.js" integrity="sha512-Zox2uAcIUjsh757teov0Hd1uGNCbmoL5RgnX0N8Vusp/fLe4STA2vsWfm28vrvd83tzlmZhJfa4zTPqlN3sW7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        // disable debug statements in "production"
        if (window.location.href.toLowerCase().includes('github.io')) {
            console.debug = function(...args) {  }
        }

        /**
         * [getQueryParameter description]
         * @sauce  https://stackoverflow.com/a/2091331/3708807
         * @param  {[type]} property [description]
         * @return {[type]}          [description]
         */
        function getQueryParameter(property) {
            let query = window.location.search.substring(1);
            let vars = query.split('&');
            for (let i = 0; i < vars.length; i++) {
                let [ key, value ] = vars[i].split('=');
                if (decodeURIComponent(key.trim()) == property) {
                    return decodeURIComponent(value);
                }
            }
            console.error('Query property %s not found', property);
        }


        /**
         * [randomNumber description]
         * @sauce  https://www.geeksforgeeks.org/how-to-generate-random-number-in-given-range-using-javascript/
         * @param  {[type]} min [description]
         * @param  {[type]} max [description]
         * @return {[type]}     [description]
         */
        function randomNumber(min, max, inclusive=false) {
            return Math.random() * (max - min + !!inclusive) + min;
        }


        /**
         * [randomNumberInt description]
         * @param  {[type]} min [description]
         * @param  {[type]} max [description]
         * @return {[type]}     [description]
         */
        function randomNumberInt(min, max, inclusive=false) {
            return Math.floor(Math.random() * (max - min + !!inclusive) + min);
        }


        const Generators = {}


        Generators['ninja'] = {
            name: 'Ninja Name Generator',

            author: {
                name: '@bmcminn',
                link: 'https://github.com/bmcminn/ninja-name-generator',
            },

            image: {
                file: 'your-ninja-name-key.webp',
                width: 512,
                height: 415,
                tagline: 'Ninja name key by',
                author: {
                    name: 'u/hauntedmango',
                    link: 'https://www.reddit.com/r/funny/comments/gi3sc/this_is_how_to_find_your_ninja_name/',
                },
            },

            toCase: 'title-case',

            LETTERS: {
                a: 'ka',
                b: 'zu',
                c: 'mi',
                d: 'te',
                e: 'ku',
                f: 'lu',
                g: 'ji',
                h: 'ri',
                i: 'ki',
                j: 'zu',
                k: 'me',
                l: 'ta',
                m: 'rin',
                n: 'to',
                o: 'mo',
                p: 'no',
                q: 'ke',
                r: 'shi',
                s: 'ari',
                t: 'chi',
                u: 'do',
                v: 'ru',
                w: 'mei',
                x: 'na',
                y: 'fu',
                z: 'zi',
            },

            toDescription: 'Enter your name!',

            to(name) {
                const self = this

                return name.split('')
                    .map(el => {
                        const letter = el.toLowerCase()
                        return self.LETTERS[letter] ? self.LETTERS[letter] : el
                    })
                    .join('')
            },
        }


        Generators['sexyname'] = {
            name: 'How sexy is your name?',

            author: {
                name: '@bmcminn',
                link: 'https://github.com/bmcminn/ninja-name-generator',
            },

            image: {
                file: 'sexyname.jpg',
                width: 480,
                height: 560,
                tagline: 'How sexy is your name',
                author: {
                    name: 'zodiaccity',
                    // link: 'https://www.reddit.com/r/funny/comments/gi3sc/this_is_how_to_find_your_ninja_name/',
                },
            },

            POINTS: {
                'a': 100,
                'b': 14,
                'c': 9,
                'd': 28,
                'e': 145,
                'f': 12,
                'g': 3,
                'h': 10,
                'i': 200,
                'j': 100,
                'k': 114,
                'l': 100,
                'm': 25,
                'n': 450,
                'o': 80,
                'p': 2,
                'q': 12,
                'r': 400,
                's': 113,
                't': 405,
                'u': 11,
                'v': 10,
                'w': 10,
                'x': 3,
                'y': 210,
                'z': 23,
                ' ': 0,
            },

            toDescription: 'Enter your name!',

            to(name) {
                name = name.toLowerCase().trim().replace(/[^a-z\s]/gi, ' ')

                const self = this

                const score = name.split('').map(el => self.POINTS[el]).reduce((a, b) => a + b)

                let label = 'Not too sexy...'

                if (60 < score) { label = 'Pretty sexy ;)' }
                if (300 < score) { label = 'Very sexy!' }
                if (600 < score) { label = 'The Ultimate Sexiest!' }

                return `${score} ${label}`
            }
        }


        Generators['l337'] = {
            name: 'b451c l337 Converter',
            description: 'A basic l337 speak converter.',
            toDescription: 'Enter your name/phrase!',
            fromDescription: 'Enter your name/phrase to parse!',

            author: {
                name: '@bmcminn',
                link: 'https://github.com/bmcminn/ninja-name-generator',
            },

            replacements: {
                'a': 4,
                'e': 3,
                'g': 6,
                'i': 1,
                'o': 0,
                's': 5,
                't': 7,

                4: 'a',
                3: 'e',
                6: 'g',
                1: 'i',
                0: 'o',
                5: 's',
                7: 't',
            },

            to(str) {
                return str.split('')
                    .map(el => this.replacements[el.toLowerCase()] ?? el)
                    .join('')
            },

            from(str) {
                return str.split('')
                    .map(el => this.replacements[el.toLowerCase()] ?? el)
                    .join('')
            },
        }


        // Generators['Spongemock'] = {
        //     name: 'Spongemock text converter',
        //     description: 'Makes your text look as obnoxious as it sounds.',
        //     toDescription: 'Enter your phrase!',

        //     author: {
        //         name: '@bmcminn',
        //         link: 'https://github.com/bmcminn/ninja-name-generator',
        //     },

        //     sauce: 'https://knowyourmeme.com/memes/mocking-spongebob',

        //     image: {
        //         file: 'spongemock.jpg',
        //         width: 590,
        //         height: 687,
        //         tagline: 'Spongemock by',
        //         author: {
        //             name: '@TheSpongeMock',
        //             link: 'https://twitter.com/thespongemock',
        //         },
        //     },

        //     to(str) {
        //         let capCount = 0
        //         const maxCaps = 2

        //         //  // psuedocode
        //         //  split by word
        //         //  for each word, numCaps = Math.floor(word.length / 2)
        //         //    for each letter in word, if caps < numCaps && iLetter % RandomInt(1,3) === 0
        //         //      toUpperCase()

        //         return str.split('')
        //             .map((el, i) => {
        //                 if (i < 2) { return el }
        //                 capCount = capCount < maxCaps ? capCount : 0

        //                 console.log({ el, i, capCount, res: capCount < maxCaps })

        //                 // if (capCount < maxCaps && (i % 2 === 0 || i % 3 === 0)) {
        //                 // if (capCount < maxCaps && (i % randomNumberInt(1,3) === 0)) {
        //                 if (i % randomNumberInt(1,6) === 0) {
        //                     capCount += 1
        //                     return el.toUpperCase()
        //                 }

        //                 return el.toLowerCase()
        //             })
        //             .join('')
        //     },

        //     // D o n T   u S e   t h A t   W e I r d   S p o N g E b o B   M o C k i n G   M E m e
        //     // 0                   1                   2                   3                   4
        //     // 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1
        // }


        Generators['makingapoint'] = {
            name: 'Making a point',
            description: 'Make your point L O U D A N D C L E A R',
            toDescription: 'Enter your phrase',

            author: {
                name: '@bmcminn',
                link: 'https://github.com/bmcminn/ninja-name-generator',
            },

            sauce: 'https://knowyourmeme.com/memes/mocking-spongebob',

            image: {
                file: 'timetogetspooky.jpg',
                width: 642,
                height: 960,
                // tagline: 'Spongemock by',
                // author: {
                //     name: '@TheSpongeMock',
                //     link: 'https://twitter.com/thespongemock',
                // },
            },

            to(str) {
                return str.trim().toUpperCase().replace(/[^\w\d\p{L}]/gi, '').split('').join(' ')
            },
        }


        Generators['fuck'] = {
            name: 'Fuck Name Generator',
            description: 'Replaces the first four letters of each of your names with "Fuck"',
            toDescription: 'Enter your name!',

            author: {
                name: '@bmcminn',
                link: 'https://github.com/bmcminn/ninja-name-generator',
            },

            to(name) {
                let replacement = 'Fuck'
                return name.split(' ')
                    .map(el => el.substring(replacement.length).replace(/^/, replacement) )
                    .join(' ')
            },
        }


        Generators['oob'] = {
            name: '"Oob" Name Generator',
            description: 'Replaces each vowel in your name with "oob"',
            toDescription: 'Enter your name!',

            // sauce: 'https://knowyourmeme.com/memes/mocking-spongebob',

            image: {
                file: 'oob-meme.png',
                width: 516,
                height: 285,
                // tagline: 'Spongemock by',
                // author: {
                //     name: '@TheSpongeMock',
                //     link: 'https://twitter.com/thespongemock',
                // },
            },

            author: {
                name: '@bmcminn',
                link: 'https://github.com/bmcminn/ninja-name-generator',
            },

            to(name) {
                let replacement = 'oob'
                return name.split('')
                    .map(el => el.match(/[aeiou]/) ? replacement : el )
                    .join('')
            },
        }


        Generators['t9'] = {
            name: 'T9 Translator',
            // description: 'Encodes and parses T9 messages',

            author: {
                name: '@bmcminn',
                link: 'https://github.com/bmcminn/name-generator',
            },

            image: {
                file: 't9-graphic.jpg',
                width: 514,
                height: 461,
                tagline: 'Example T9 keyboard',
                // author: {
                //     name: 'u/hauntedmango',
                //     link: 'https://www.reddit.com/r/funny/comments/gi3sc/this_is_how_to_find_your_ninja_name/',
                // },
            },

            T9: {
                a:'2',
                b:'22',
                c:'222',
                d:'3',
                e:'33',
                f:'333',
                g:'4',
                h:'44',
                i:'444',
                j:'5',
                k:'55',
                l:'555',
                m:'6',
                n:'66',
                o:'666',
                p:'7',
                q:'77',
                r:'777',
                s:'7777',
                t:'8',
                u:'88',
                v:'888',
                w:'9',
                x:'99',
                y:'999',
                z:'9999',
                2: 'a',
                22: 'b',
                222: 'c',
                3: 'd',
                33: 'e',
                333: 'f',
                4: 'g',
                44: 'h',
                444: 'i',
                5: 'j',
                55: 'k',
                555: 'l',
                6: 'm',
                66: 'n',
                666: 'o',
                7: 'p',
                77: 'q',
                777: 'r',
                7777: 's',
                8: 't',
                88: 'u',
                888: 'v',
                9: 'w',
                99: 'x',
                999: 'y',
                9999: 'z',
                ' ': ' ',
            },

            toDescription: 'Encode your message',
            toPlaceholder: 'your message here',

            fromPlaceholder: '8-999-7-33 44-33-777-33',
            fromDescription: 'Parse your T9 message',

            to(str) {
                const self = this
                let res = str.toLowerCase().split(' ')
                    .map(word => {
                        return word.split('')
                            .map(el => self.T9[el] || el)
                            .join('-')
                    })
                    .join(' ')
                return res
            },

            from(str) {
                const self = this
                let res = str.split(' ')
                    .map(word => {
                        return word.split('-')
                            .map(el => self.T9[el] || el)
                            .join('')
                    })
                    .join(' ')
                return res
            },
        }


        Generators['malenovelistdescription'] = {
            name: 'Electric Literature\'s Male Novelist Description Generator',
            description: 'If you\'re not sure how a male author would describe you, use our handy chart',

            author: {
                name: '@bmcminn',
                link: 'https://github.com/bmcminn/name-generator',
            },

            image: {
                file: 'malenovelist.jpeg',
                width: Math.floor(1024 * 0.7),
                height: Math.floor(851 * 0.7),
                tagline: 'Electric Literature\'s Male Novelist Description Generator',
                author: {
                    name: 'Jess Zimmerman and Halimah Marcus',
                    link: 'https://electricliterature.com/if-youre-not-sure-how-a-male-author-would-describe-you-use-our-handy-chart/',
                },
            },

            WORDSETS: [
                // PART A
                [
                    'boobs',
                    'a bust',
                    'a butt',
                    'lips',
                    'an ass',
                    'breasts',
                    'hair',
                    'eyes',
                    'a voice',
                    'curves',
                    'a rump',
                    'legs',
                    'a rear end',
                    'mammaries',
                    'jugs',
                    'calves',
                    'a badonkadonk',
                    'gams',
                    'knockers',
                    'a complexion',
                    'a pout',
                    'hooters',
                    'a booty',
                    'cheeks',
                    'thighs',
                    'tresses',
                ],
                // PART B
                [
                    'silken',
                    'creamy',
                    'shiny',
                    'ripe',
                    'juicy',
                    'middle-aged',
                    'rippling',
                    'wrinkled',
                    'luscious',
                    'frigid',
                    'voluptuous',
                    'expensive',
                    'plump',
                    'bountiful',
                    'tempestuous',
                    'withered',
                    'haughty',
                    'shrill',
                    'fat',
                    'dewy',
                    'soft',
                    'wiry',
                    'gleaming',
                    'withholding',
                    'bulbous',
                    'brittle',
                ],
                // PART C
                [
                    'kitten',
                    'mountain',
                    'pillow',
                    'ice cream cone',
                    'tulip',
                    'lake',
                    'fortress',
                    'lemon',
                    'popsicle',
                    'librarian',
                    'python',
                    'pony',
                    'melon',
                    'bedsheet',
                    'muffin',
                    'bunny rabbit',
                    'fish',
                    'princess',
                    'ghost',
                    'waterfall',
                    'mango',
                    'harpy',
                    'ship',
                    'nun',
                    'berry',
                    'car',
                ],
                // PART D
                [
                    'longed',
                    'lusted',
                    'wished',
                    'wanted',
                    'resolved',
                    'dared',
                    'detested',
                    'trembled',
                    'thirsted',
                    'expected',
                    'planned',
                    'deigned',
                    'proposed',
                    'shuddered',
                    'refused',
                    'hated',
                    'scorned',
                    'dreaded',
                    'did not care',
                    'ached',
                    'intended',
                    'hungered',
                    'craved',
                    'hankered',
                    'needed',
                    'pined',
                ],
                // PART E
                [
                    'ravish',
                    'climb',
                    'invade',
                    'grope',
                    'marry',
                    'raw dog it with',
                    'caress',
                    'proposition',
                    'correct',
                    'emotionally manipulate',
                    'spar with',
                    'compliment',
                    'hire',
                    'booty call',
                    'mansplain to',
                    'insult',
                    'date',
                    'teabag',
                    'ignore',
                    'fondle',
                    'worship',
                    'examine',
                    'manhandle',
                    'touch',
                    'admire',
                    'demand things from',
                ],
            ],

            to(name) {
                const self = this
                const max = 5

                // normalize name
                name = name.toLowerCase().replace(/[^a-z]|\s/gi, '').split('')

                const LETTERS = 'abcdefghijklmnopqrstuvwxyz'

                let temp = []
                let counter = 0

                for (var i = 0; i < max; i++) {
                    temp.push(name[counter])

                    counter += 1

                    if (counter >= name.length) {
                        counter = 0
                    }
                }

                name = temp

                const parts = name.map((el, index) => {
                    if (!el) { return '____' }
                    let letter = LETTERS.indexOf(el)
                    const word = self.WORDSETS[index][letter]
                    return word
                })

                return `She had ${parts[0]} like a ${parts[1]} ${parts[2]} and I ${parts[3]} to ${parts[4]} her.`
            },
        }


        const app = new Vue({
            el: '#app',
            data() {
                return {
                    name: getQueryParameter('name') ?? '',
                    parse: '',
                    generator: null,
                    generatorName: null,
                }
            },

            computed: {
                toText() {
                    return this.generator.to(this.name)
                },
                fromText() {
                    if (this.generator.from) {
                        return this.generator.from(this.parse)
                    }
                },
            },

            created() {
                let generatorName = getQueryParameter('generator')

                console.debug('generator', generatorName)

                if (!generatorName || !Generators[generatorName]) {
                    generatorName = this.getRandomGenerator()
                }

                this.generatorName = generatorName
                this.generator = Generators[generatorName]

                // this.generator.toCase = 'title-case'
                // this.generator.fromCase ??= 'title-case'

                console.debug('generator', this.generator)

                document.title = this.generator.name
            },

            methods: {
                getRandomGenerator() {
                    let gens = Object.keys(Generators)
                    console.debug('gens', gens)
                    let randomInt = randomNumberInt(0, gens.length)
                    console.debug('randomInt', randomInt)
                    let generator = gens[randomInt]
                    console.debug('generator', generator)

                    // console.log(generator)

                    return generator
                },

                doCopy(toFrom='to') {
                    this.$copyText(this.generator[toFrom](this.name))
                        .then(function (e) {
                            alert('Copied')
                            console.log(e)
                        }, function (e) {
                            alert('Can not copy')
                            console.log(e)
                        })
                },

                share(toFrom='to') {
                    const value = new URL(window.location.href)

                    if (!this.name) {
                        alert('you must enter a name before sharing your result')
                        return
                    }

                    value.search = `generator=${this.generatorName}&name=${this.name}`

                    this.$copyText(value)
                        .then(function (e) {
                            alert(`Copied ${value}`)
                            console.log(e)
                        }, function (e) {
                            alert('Can not copy')
                            console.log(e)
                        })
                },

                switchApp(e) {
                    window.location.search = `generator=${e.target.value}`
                },
            }
        })
    </script>

</body>
</html>
